/*  浏览器识别效果  */
span.ua {
	display: inline-block !important;
	margin: auto 1px .3em !important;
	color: #fff !important;
}

.os_other {
	background-color: #bdb2a7!important;
	color: #fff;
	border: 1px solid #BBB!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_other {
	background-color: #bdb2a7!important;
	color: #fff;
	border: 1px solid #BBB!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_other {
	opacity: 1;
}

.os_other:hover {
	opacity: .4;
}

.ua_ie {
	background-color: #428bca!important;
	border-color: #357ebd!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_ie:hover {
	opacity: .4;
}

.ua_firefox {
	background-color: #f0ad4e!important;
	border-color: #eea236!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_firefox:hover {
	opacity: .4;
}

.ua_maxthon {
	background-color: #7373B9!important;
	border-color: #7373B9!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_maxthon:hover {
	opacity: .4;
}

.ua_ucweb {
	background-color: #FF740F!important;
	border-color: #d43f3a!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_ucweb:hover {
	opacity: .4;
}

.ua_sogou {
	background-color: #78ACE9!important;
	border-color: #4cae4c!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_sogou:hover {
	opacity: .4;
}

.ua_2345explorer {
	background-color: #2478B8!important;
	border-color: #4cae4c!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_2345explorer:hover {
	opacity: .4;
}

.ua_2345chrome {
	background-color: #F9D024!important;
	border-color: #4cae4c!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_2345chrome:hover {
	opacity: .4;
}

.ua_mi {
	background-color: #FF4A00!important;
	border-color: #4cae4c!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_mi:hover {
	opacity: .4;
}

.ua_lbbrowser {
	background-color: #FC9D2E!important;
	border-color: #4cae4c!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_lbbrowser:hover {
	opacity: .4;
}

.ua_chrome {
	background-color: #EE6252!important;
	border-color: #4cae4c!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_chrome:hover {
	opacity: .4;
}

.ua_qq {
	background-color: #3D88A8!important;
	border-color: #4cae4c!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_qq:hover {
	opacity: .4;
}

.ua_apple {
	background-color: #E95620!important;
	border-color: #4cae4c!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_apple:hover {
	opacity: .4;
}

.ua_opera {
	background-color: #d9534f!important;
	border-color: #d43f3a!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.ua_opera:hover {
	opacity: .4;
}

.os_vista,.os_2000,.os_windows,.os_xp,.os_7,.os_8,.os_8_1 {
	background-color: #39b3d7!important;
	border-color: #46b8da!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.os_vista:hover,.os_2000:hover,.os_windows:hover,.os_xp:hover,.os_7:hover,.os_8:hover,.os_8_1:hover {
	opacity: .4;
}

.os_android {
	background-color: #98C13D!important;
	border-color: #01B171!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.os_android:hover {
	opacity: .4;
}

.os_ubuntu {
	background-color: #DD4814!important;
	border-color: #01B171!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.os_ubuntu:hover {
	opacity: .4;
}

.os_linux {
	background-color: #3A3A3A!important;
	border-color: #1F1F1F!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.os_linux:hover {
	opacity: .4;
}

.os_mac {
	background-color: #666666!important;
	border-color: #1F1F1F!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.os_mac:hover {
	opacity: .4;
}

.os_unix {
	background-color: #006600!important;
	border-color: #1F1F1F!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.os_unix:hover {
	opacity: .4;
}

.os_nokia {
	background-color: #014485!important;
	border-color: #1F1F1F!important;
	border-radius: 4px;
	padding: 0 5px!important;
	opacity: 1;
}

.os_nokia:hover {
	opacity: .4;
}
/* UA End */

/* 博主标记 CSS */
.sskadmin {
	background-color: #00a67c!important;
	border-color: #01B171!important;
	border-radius: 4px;
	padding: 0 5px!important;
}

.sskadmin:hover {
	opacity: .5;
}

/* 鼠标悬停旋转头像 */
#ds-reset .ds-avatar img,#ds-reset .ds-avatar img:hover {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0s;
	-moz-animation-duration: 0s;
	-ms-animation-duration: 0s;
	-o-animation-duration: 0s;
	animation-duration: 0s;
	-webkit-animation-duration: .7s;
	-moz-animation-duration: .7s;
	-ms-animation-duration: .7s;
	-o-animation-duration: .7s;
	animation-duration: .7s
}

@-webkit-keyframes wobble {
	0% {
		-webkit-transform: translateX(0)
	}

	15% {
		-webkit-transform: translateX(-25%) rotate(-5deg)
	}

	30% {
		-webkit-transform: translateX(20%) rotate(3deg)
	}

	45% {
		-webkit-transform: translateX(-15%) rotate(-3deg)
	}

	60% {
		-webkit-transform: translateX(10%) rotate(2deg)
	}

	75% {
		-webkit-transform: translateX(-5%) rotate(-1deg)
	}

	100% {
		-webkit-transform: translateX(0)
	}
}

@-moz-keyframes wobble {
	0% {
		-moz-transform: translateX(0)
	}

	15% {
		-moz-transform: translateX(-25%) rotate(-5deg)
	}

	30% {
		-moz-transform: translateX(20%) rotate(3deg)
	}

	45% {
		-moz-transform: translateX(-15%) rotate(-3deg)
	}

	60% {
		-moz-transform: translateX(10%) rotate(2deg)
	}

	75% {
		-moz-transform: translateX(-5%) rotate(-1deg)
	}

	100% {
		-moz-transform: translateX(0)
	}
}

@-o-keyframes wobble {
	0% {
		-o-transform: translateX(0)
	}

	15% {
		-o-transform: translateX(-25%) rotate(-5deg)
	}

	30% {
		-o-transform: translateX(20%) rotate(3deg)
	}

	45% {
		-o-transform: translateX(-15%) rotate(-3deg)
	}

	60% {
		-o-transform: translateX(10%) rotate(2deg)
	}

	75% {
		-o-transform: translateX(-5%) rotate(-1deg)
	}

	100% {
		-o-transform: translateX(0)
	}
}

@keyframes wobble {
	0% {
		transform: translateX(0)
	}

	15% {
		transform: translateX(-25%) rotate(-5deg)
	}

	30% {
		transform: translateX(20%) rotate(3deg)
	}

	45% {
		transform: translateX(-15%) rotate(-3deg)
	}

	60% {
		transform: translateX(10%) rotate(2deg)
	}

	75% {
		transform: translateX(-5%) rotate(-1deg)
	}

	100% {
		transform: translateX(0)
	}
}

#ds-reset .ds-avatar img:hover {
	-webkit-animation-name: wobble;
	-moz-animation-name: wobble;
	-o-animation-name: wobble;
	animation-name: wobble
}

/*  社交账号登陆透明度  */
#ds-thread #ds-reset .ds-login-buttons {
    opacity: 1;
}
#ds-thread #ds-reset .ds-login-buttons:hover {
    opacity: 1;
}

/* 留言板 CSS */
#ds-thread.ds-narrow #ds-reset .ds-replybox{
	    padding-left: 0px;
}
#ds-thread #ds-reset .ds-replybox{
	width: auto;
	font-size: 12px;
	z-index: 3;
	margin: 8px 0;
	position: relative;
	padding: 0;
	border: 1px solid #2F2F2F;
	border-radius: 6px;
}
#ds-thread #ds-reset .ds-replybox .ds-avatar{
	display: none;
}
#ds-thread #ds-reset .ds-textarea-wrapper{
	border: none;
	border-bottom: none;
	background-color: rgba(255, 255, 255, 0.01);
	background-image: none;
}
#ds-thread #ds-reset .ds-comment-body p, #ds-thread #ds-reset .ds-textarea-wrapper textarea {
    color: #FFF;
}

/* “发布”按钮背景 */
#ds-thread #ds-reset .ds-post-toolbar {
    box-shadow: none;
    background-color: #414141;
}
#ds-thread #ds-reset .ds-post-toolbar .ds-post-options {
    background-color: rgb(65, 65, 65);
    border-radius: 5px;
    border: 0px solid #2F2F2F;
}
#ds-thread #ds-reset .ds-sync{
	right: 27px;
}
#ds-thread #ds-reset .ds-post-button {
	background: #2f2f2f;
    width: 62px;
    text-shadow: none;
    color: #FFF;
    height: 26px;
    border: 0px #FFF;
    margin-right: 18px;
    margin-top: 1px;
    border-radius: 6px;
    background-image: none;
    box-shadow: none;
}
#ds-thread #ds-reset .ds-post-button:hover{
	background: #EE6252;
	color: #FFF;
}
#ds-thread #ds-reset .ds-powered-by a{
    color: #999;
}
#ds-thread #ds-reset .ds-powered-by a:hover{
    color: #FFF;
}
#ds-reset .ds-gradient-bg {
    background-color: rgb(65, 65, 65);
    background-image: none;
}

/* 评论列表背景 */
#ds-thread #ds-reset a{
    color: #999;
}
#ds-thread #ds-reset a:hover{
    color: #FFF;
}
#ds-thread #ds-reset .ds-comments{
	background-color: #3F3F3F;
}
#ds-thread #ds-reset ul.ds-children {
    margin-left: 70px;
}
#ds-reset .ds-avatar{
    background-color: rgba(255, 255, 255, 0);
}
/* 喜欢 */
#ds-thread #ds-reset a.ds-like-thread-button {
    border: 1px solid #EE6252;
    border-radius: 42px;
    width: 120px;
    background-color: rgba(224, 224, 224, 0);
    margin-right: 12px;
    padding: 9px 15px;
    text-shadow: none;
    background-image: none;
}
#ds-thread #ds-reset a.ds-like-thread-button span {
    color: #EE6252;
}
#ds-thread #ds-reset .ds-like-tooltip{
    border-radius: 6px;
    border: 1px solid #1F1F1F;
    text-shadow: none;
    position: absolute;
    z-index: 9999;
    background-color: #3F3F3F;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3F3F3F), to(#3F3F3F));
    background: -moz-linear-gradient(top, #3F3F3F 0, #3F3F3F 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3F3F3F), color-stop(100%, #3F3F3F));
    background: -webkit-linear-gradient(top, #3F3F3F 0, #3F3F3F 100%);
    background: -ms-linear-gradient(top, #3F3F3F 0, #3F3F3F 100%);
    background: linear-gradient(top, #3F3F3F 0, #3F3F3F 100%);
    
}
#ds-thread #ds-reset .ds-meta {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
#ds-thread #ds-reset .ds-header {
    font-weight: bold;
    font-size: 14px;
    color: #999;
    line-height: 30px;
    padding: 0 12px;
}
#ds-thread #ds-reset #ds-hot-posts {
     border: none; 
}

/* 简介 */
#ds-reset .ds-highlight {
    color: #3dbcf5 !important;
}
#ds-thread #ds-reset .ds-comment-body p, #ds-thread #ds-reset .ds-textarea-wrapper textarea {
    color: #FFFFFF;
    font-size: 13px;
    font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif;
}
#ds-thread #ds-reset .ds-comment-actions a,#ds-thread #ds-reset a,#ds-thread #ds-reset .ds-comment-actions a,#ds-thread #ds-reset .ds-time{
    color: #999;
}
#ds-thread #ds-reset .ds-comment-actions a .ds-icon:hover#ds-thread #ds-reset .ds-comment-actions a:hover,#ds-thread #ds-reset a:hover{
	color: #FFF;
}
#ds-thread #ds-reset .ds-comments-info{
	padding: 8px 0 0 0;
    border-bottom: 3px solid rgba(61, 61, 61, 0);
}
#ds-thread #ds-reset li.ds-post {
    width: 100%;
    overflow: hidden;
    clear: both;
    border-top: 1px dashed rgb(8, 8, 8);
    margin: 0;
    padding-top: 8px;
    list-style: none;
}
#ds-thread #ds-reset .ds-comments {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
#ds-thread #ds-reset .ds-account-control ul {
    display: none;
    position: absolute;
    top: 19px;
    left: 0;
    border: 1px solid #080808;
    background: #3F3F3F;
    box-shadow: none;
    border-radius: 6px;
    text-align: center;
}
#ds-thread #ds-reset .ds-account-control ul li a {
    border: none;
    display: block;
    padding: 3px 10px;
    text-shadow: none;
}

/* 头像简介 */
#ds-thread #ds-reset #ds-bubble{
	position: absolute;
    background: #2f2f2f;
    padding: 10px;
    color: #333;
    border-radius: 6px;
    border: 1px solid #0C0C0C;
}
#ds-thread #ds-reset .ds-arrow-down{
	border-left: 5px solid rgb(63, 63, 63);
    border-right: 5px solid rgb(63, 63, 63);
    border-top: 5px solid #0C0C0C;
}
/* 新回复弹窗 */
#ds-notify {
    position: fixed;
    z-index: 9999;
    max-width: 144px;
    _width: 130px;
    display: block;
    float: none;
    padding: 8px 12px;
    background-color: #3F3F3F;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    border: 1px solid #2F2F2F;
}
#ds-notify #ds-reset ul.ds-notify-unread li a {
    color: #FFF;
    text-decoration: none;
}
#ds-wrapper #ds-reset .ds-dialog-inner {
    width: 100%;
    position: relative;
    border: 1px solid #000;
    background: #3F3F41;
    border-radius: 6px;
}
#ds-wrapper #ds-reset h2 {
    display: block;
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 15px 0;
    color: #999;
}
#ds-wrapper #ds-reset .ds-unread-list li {
    position: relative;
    margin: 0;
    padding: 0;
    border-top: 0;
    line-height: 1.5em;
    color: #777;
}
#ds-wrapper #ds-reset .ds-dialog-footer {
    display: none;
    clear: both;
    border-top: 1px dotted #ccc;
    padding: 10px 15px 6px;
}
#ds-wrapper #ds-reset .ds-unread-list li a[rel~="author"] {
    color: #FFF;
}