/* bd share button box */
.bdshare-button-style2-24{
  width: 330px;
  margin: 12px auto;
  .fx {
      color: #999;
      padding: 0;
      margin: 6px;
      display: inline-block;
      font: normal normal normal 36px/1 FontAwesome;
      background: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .fx:hover{
    color: #FFF;
    opacity: 1;
  }
}